{% extends 'base.html' %}
{% block title %}Entrada{% endblock %}
{% block content %}
{% verbatim %}
<body>
    <div id="app" class="container">
        <div>
            <div class="col-10 mx-auto mt-5">
                <h1>Heros</h1>
                saindo
                novo
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for=" dado in dados" :key="dado.id">
                            <td class="align-middle">{{ dado.rank }}</td>
                            <td class="align-middle">
                                <img :src="dado.image" class="px-2" width="50" alt=""></img>
                                <small class="text-muted px-2">{{ dado.symbol }}</small>
                                {{ dado.name }}
                            </td>
                            <td class="align-middle">{{ dado.price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endverbatim %}
    <script>
        const { createApp } = Vue;
        const App = {
            data () { 
                dados: []
            },
            created() {
                this.dados = {{data_django | safe}}
            }
        }
    createApp(App).mount('#app')
    </script>
{% endblock %}
